.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;  
    position: relative;
    background-color: rgb(82, 65, 82);
    background-image: url(./img/clouds.jpg);
    background-size: cover;
    margin: 0 auto;
    padding: 50px 0;
    width: 100%;
  }

  .caption {
    font-size: 3em;
    color: #201b2b;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }